body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
<<<<<<< HEAD

a {
    color: yellowgreen;
    transition-duration: .6s;
  }

a:hover {
    color: gainsboro;
}

nav ul {
    display: flex;
    justify-content: space-between;
  }
  
=======
a:hover {
    color:aqua;
}
a{
    justify-content: space-around;
    display: inline;
}
>>>>>>> fa4d278807e1abe1c26b89be080dfac3ee956b65
