body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    color: yellowgreen;
    transition-duration: .6s;
  }

a:hover {
    color: gainsboro;
}

nav ul {
    display: flex;
    justify-content: space-between;
  }
  